.chatIcon{
  position: fixed;
  background-color: #514A7E;
  right: 5%;
  bottom: 19%;
  color: white;
  z-index: 999;
  border-radius: 50%;
  padding: 15px;
  border: 1px solid white;
  cursor: pointer;
  @media (min-width: 1540px) {
    font-size: 20px;
    padding: 20px;
    bottom: 14%;
  }
}
.chatWindow, .chatOther{
  border-radius: 25px;
  right: -100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  transition: .3s;
  width: 270px;
  height: 340px;
  top: 10%;
  background-color: white;
  border: 1px solid black;
  .chatTitle{
    text-align: center;
    width: 100%;
    padding: 20px 0;
    border-bottom: 0.5px solid black;
    .img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      background-color: #514A7E;
      @media (min-width: 1540px) {
        width: 60px;
        height: 60px;
      }
    }
    h3{
      margin: 0;
      @media (min-width: 1540px) {
        font-size: 30px;
      }
    }
    p{
      @media (min-width: 1540px) {
        font-size: 20px;
      }
    }
  }
  .mainChat{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 3rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
  
    &::-webkit-scrollbar-thumb{
      display: none ;
    }
    h2{
      margin: 0;
    }
    .mainBlock, .otherBlock{
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 100%;
      padding-right: 20px;
      .userBlock{
        display: flex;
        align-items: flex-start;
        margin-bottom: 5px;
        margin-top: 15px;
      }
      .block{
        box-shadow: 0 0 2px black;
        border-radius: 10px;
        padding: 7px 5px;
        min-width: 50%;
        max-width: 80%;
        margin-top: 10px;
        @media (max-width: 1540px) {
          max-width: 70%;
        }
        h5{
          text-align: right;
        }
        p{
          text-align: right;
          font-size: 15px;
          width: 100%;
          @media (min-width: 1540px) {
            font-size: 30px;
          }
        }
        .time{
          font-size: 12px;
          margin-top: 5px;
          color: #7D7D7D;
        } 
      }
    }
    .otherBlock{
      justify-content: flex-start;
      padding-left: 10px;
      .block{
        h5{
          text-align: left;
        }
        p{
          text-align: left;
        }
      }
    }
    .photoUrl, .img{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 10px;
      margin-left: 1rem;
      @media (min-width: 1540px) {
        width: 35px;
        height: 35px;
      }
    }
    .img{
      background-color: #514A7E;
    }
  }
  .footerChat{
    border-top: 0.5px solid black;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    input{
      padding: 0 10px;
      width: 100%;
      @media (min-width: 1540px) {
        font-size: 30px;
      }
    }
    div{
      cursor: pointer;
      padding-right: 10px;
      @media (min-width: 1540px) {
        font-size: 40px;
      }
    }
  }
}
.closeChat{
  position: absolute;
  font-size: 3rem;
  right: -5%;
  top: -5%;
  background-color: #514A7E;
  color: white;
  border-radius: 50%;
  padding: 0px 15px;
  border: 1px solid white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.chatWindow.active, .chatOther.active{
  right: 50%;
  transform: translateX(50%);
  z-index: 999;
}
.chatOther{
  width: 350px;
  height: 80%;
  @media (min-width: 1540px) {
    width: 400px;
    height: 70%;
  }
}