.header{
  .navbar{
    width: 100%;
    padding-top: 10px;
  }
  .searchInput{
    border: none;
    outline: none;
    border-bottom: 1px solid #7D7D7D;
    width: 75%;
    margin-left: 40px;
    @media (min-width: 425px) {
      width: 91%;
    }
    @media (min-width: 375px) {
      width: 79%;
    }
  }
  .searchIcon{
    position: absolute;
    left: 4%;
    right: 13%;
    top: 6%;
    bottom: 19.44%;
    z-index: 10;
    @media (min-width: 425px) {
      top: 4%;
    }
  }
}