.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3% 0;
    .row{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}