.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container{
    width: 77%;
    display: flex;
    justify-content: center;
    margin: 3% 10%;
    .row{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 425px) {
        justify-content: center;
        margin-left: -20px;
      }
      @media (min-width: 768px) {
        margin-left: -10px;
      }
      @media (min-width: 1024px) {
        margin-left: 0;
      }
    }
  }
}