*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  form{
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: -13%;
    height: 100vh;
    @media (max-width: 755px) {
      padding: 0;
    }
    .container{
      text-align: center;
      width: 100%;
      cursor: pointer;
      p{
        font-size: 15px;
      }
    }
    h1{
      margin: 0;
      margin-top: 12rem;
      text-align: center;
      width: 100% !important;
      font-size: 30px !important;
      color: #121212;
    }
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: 425px) {
        flex-direction: row;
        min-width: 70% !important;
        justify-content: center;
        gap: 10px;
      }
      @media (max-width: 425px) {
        min-width: 85% !important;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
      }
      @media (max-width: 375px) {
        min-width: 90% !important;
      }
      width: 39%;
      button{
        border-radius: 0;
        width: 150px;
        margin-bottom: 10px;
        position: relative;
        font-size: 15px;
        height: 37px;
        border: 0.5px solid #514A7E;
        &:hover{
          background-color: #514A7E;
        }
      }
      .signIn{
        font-size: 11px;
        border: 0.5px solid #514A7E;
        background-color: #514A7E;
        color: #fff;
        &:hover{
          background-color: #514A7E;
        }
      }
    }
    .go{
      border-radius: 0;
      width: 150px;
      margin-bottom: 10px;
      position: relative;
      font-size: 15px;
      height: 37px;
      border: 0.5px solid #514A7E;
      background-color: #514A7E;
      color: #fff;
      margin-top: 10px;
      &:hover{
        background-color: #514A7E;
      }
    }
    .disabled{
      background-color: #6f6996;
      color: #fff !important;
      border: none;
      &:hover{
        background-color: #6f6996;
      }
    }
  }
}