.mob-menu, .tablet-menu{
  color: white;
  position: fixed;
  background-color: #121212;
  top: 0;
  left: -100%;
  width: 100%;
  transition: .3s;
  z-index: 999;
  height: 100%;
  .list{
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    span{
      margin-right: 5px;
      font-size: 20px;
    }
    .css-bshv44-MuiButtonBase-root-MuiListItem-root:hover{
      background-color: rgba(255, 255, 255, 0.176);
    }
  }
  .close{
    position: absolute;
    left: 1%;
    top: 1%;
    cursor: pointer;
    span{
      color: white;
      font-size: 3rem;
    }
  }
}
.tablet-menu{
  width: 300px;
  @media (min-width: 1540px) {
    width: 400px;
  }
  .close{
    @media (min-width: 1440px) {
      font-size: 80px;
    }
  }
  nav{
    max-width: 700px !important;
  }
}
.mob-menu.active, .tablet-menu.active{
  left: 0;
  z-index: 999;
}

.mob-menuProfile{
  border: 0.5px solid gray;
  position: fixed;
  background-color: whitesmoke;
  bottom: -100%;
  width: 40%;
  margin-left: 50%;
  transform: translateX(-50%);
  left: 0;
  transition: .3s;
  z-index: 999;
  height: 28%;
  color: black;
  .close{
    position: absolute;
    font-size: 3rem;
    left: 5%;
    top: 1%;
    cursor: pointer;
  }
  .profileBtn{
    @media (min-width: 375px) {
      margin-left: 30% !important;
    }
    @media (min-width: 425px) {
      margin-left: 32% !important;
    }
  }
  img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  p{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }
  h4{
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: left;
    padding-top: 10px;
    span{
      text-align: left;
      margin-left: -5px;
    }
  }
}
.mob-menuProfile.active{
  left: 0;
  bottom: 14%;
  z-index: 999;
}

.tabletProfile{
  position: fixed;
  background-color: white;
  top: -100%;
  width: 160px;
  right: 8%;
  height: 150px;
  border: 1px solid gray;
  transition: .3s;
  z-index: 999;
  @media (min-width: 1440px) {
    width: 150px;
    height: 180px;
  }
  .close{
    position: absolute;
    font-size: 3rem;
    left: 5%;
    top: 1%;
    cursor: pointer;
  }
  img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    @media (min-width: 1440px) {
      width: 50px;
      height: 50px;
    }
  }
  p{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }
  h4{
    width: 95%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: left;
    padding-top: 10px;
    span{
      text-align: left;
      font-weight: 300;
      margin-left: 4px;
    }
  }
}
.tabletProfile.active{
  top: 13%;
  z-index: 999;
  @media (min-width: 1540px) {
    top: 11%;
  }
}
.containerCategory{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3% 0;
  .rowCategory{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
}
.titleCategory{
  text-transform: uppercase;
  margin-top: 3rem;
  margin: 0 5rem;
  margin-bottom: -5rem;
}