
.card{
  width: 220px;
  height: 250px;
  margin: 10px 15px;
  margin-left: -50px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width:425px) {
    margin-left: -35px;
  }
  @media screen and (min-width:450px) {
    margin-left: 0;
  }
  @media screen and (min-width:1024px) {
    width: 290px;
    height: 340px;
  }
  .cardImg{
    width: 220px;
    height: 180px;
    padding: 10px;
    margin: 10px 20px;
    @media screen and (min-width:1024px) {
      width: 290px;
      height: 250px;
    }
    .image{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cardBody{
    margin-top: -7px;
    margin-left: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      margin-left: 25px;
    }
    .price{
      font-size: 17px;
    }
    .cardTitle{
      font-size: 17px;
      color: rgb(136, 133, 133);
    }
    .more{
      display: flex;
      justify-content: space-between;
      padding: 5px 20px;
      .url{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .btnMore{
          border: 1px solid black;
          color: black;
          padding: 7px 10px;
          font-size: 17px;
          text-decoration: none;
        }
      }
    }
    .iconList{
      list-style: none;
      display: flex;
      li{
        font-size: 25px;
        padding: 0 10px;
        cursor: pointer;
      }
    }
  }
}
